@import "tailwindcss";
@plugin "@tailwindcss/typography";


@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary: oklch(0.53 0.26 262.52 / 1);
  --color-secondary: var(--color-white);
}


@layer components {
  .prose {
    h2, h3, h4 {
      @apply flex items-center gap-x-4 scroll-mt-18;

      a {
        display: none;
        order: 1
      }

      &:hover a {
        display: block;
      }
    }
  }
}
